/Main.class
/JdbcTest1.class
/RegisterController.class
/AlertHelper.class
/NyttApparatController.class
/NyAppOvelseController.class
/DBController.class
/LoginController.class
/DashboardController.class
